In [1]:
import json
import pandas as pd

In [2]:
gj = None
with open("Cert_294927-306462_13TeV_PromptReco_Collisions17_JSON.txt", "r") as f:
    gj = json.load(f)

In [3]:
data = [[run, len(ranges), ranges[-1][1]] for run, ranges in gj.items()]
df = pd.DataFrame(data, columns=["run", "# ranges", "# lumisections"])

In [4]:
# Sort by number of ranges, meaning more ranges = more interruptions during a run
df.sort_values(by="# ranges", ascending=False).head(20)

        run  # ranges  # lumisections
468  306458        35             268
305  302635        28            1291
304  302634        14             638
121  300280        14             691
125  300284        12             751
334  304366         8            1873
11   297178         8            1385
56   297656         7             433
14   297219         7            2638
96   299481         6            1257
123  300282         6             186
43   297503         6             779
2    297057         6             906
138  300389         6             149
39   297485         5             420
61   297675         5             471
348  304661         5             240
329  304209         5             477
242  302031         5             818
53   297605         5             407